<div>
    <div
        class="align-items-center bg-opacity-10 bg-secondary d-flex example-button-row justify-content-between m-auto mb-1 rounded-5 w-25">
        <button class="btn btn-danger" (click)="showModal('delete')">
            DELETE
        </button>

        <button class="btn btn-secondary" (click)="showModal('edit')">
            EDIT
        </button>

        <button class="btn btn-success" (click)="showModal('add')">
            ADD
        </button>
    </div>

    <section>
        <app-grid class="classes" [dataSource]="gridData" [settings]="gridSettings"
            (selectedRow)="onRowSelect($event)"></app-grid>
    </section>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>