.example-button-row {
    background-color: #49464350;
    padding: 0.3rem 1rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
    width: 180px;
}

.myClass {
    background-color:  red;
}

.yourClass {
    background-color:blue;
}