<h4 mat-dialog-title>Add New Student</h4>
<div class="example-form-fields">
    <form [formGroup]="studentsForm">
        <mat-form-field appearance="fill" style="margin-right: 5px;">
            <mat-label>Student ID</mat-label>
            <input autocomplete="off" formControlName="personId" matInput placeholder="">
        </mat-form-field>
        <mat-form-field appearance="fill" style="margin-right: 5px;">
            <mat-label>First Name</mat-label>
            <input autocomplete="off" formControlName="personFName" matInput placeholder="">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input autocomplete="off" formControlName="personLName" matInput placeholder="">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-raised-button color="accent" disabled={{!studentsForm.valid}} (click)="onAddNewPerson()">Save</button>
</div>