<header style="max-height: 10vh;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <div class="container-fluid">

            <ul class="navbar-nav">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                    role="button" mdbDropdownToggle aria-expanded="false">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                        height="22" alt="" loading="lazy" />
                </a>
                <!-- Avatar -->
                <li Dropdown class="nav-item dropdown">
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Logout</a>
                        </li>
                    </ul>
                </li>

            </ul>



        </div>
    </nav>
</header>